<!-- views/404.ejs -->
<!doctype html>
<html lang="pt-br">
  <head>
  	<title>Login - Estoque Loja</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  	<style>
  		body 		{ padding-top:80px; }
  		.numeroMatricula {
  			padding-left: 5px;
  		}
  		.iConSenha {
  			padding-left: 5px;
  		}
  	</style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="error-template">
          <h1>Oops!</h1>
          <h2>404 Not Found</h2>
          <div class="error-details">
            Desculpe, um erro aconteceu, a página requisitada não foi encontrada!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
